.slds-m-around_medium{
    font-style: italic;
    color: brown;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.header{
    font-style: italic;
    color: brown;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}