.content{
  width: 450px;
  height: auto;
  margin: 0 auto;
  padding: 30px;
}
.nav-pills{
  width: 450px;
}
.nav-item{
  width: 50%;
}
.nav-pills .nav-link{
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  background: #343436;
  color: #fff;
  border-radius: 30px;
  height: 100px;
}
.nav-pills .nav-link.active{
  background: #fff;
  color: #000;
}
